@model List<EstudianteViewModel>
@{
    ViewData["Title"] = "Estudiantes Registrados";
}

<div class="container mt-4">
    <div class="card shadow p-4">
        <div class="d-flex justify-content-between mb-3">
            <h3>@ViewData["Title"]</h3>
            <a asp-action="Index" class="btn btn-success">Nuevo registro</a>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Matrícula</th>
                    <th>Carrera</th>
                    <th>Campus</th>
                    <th>Tanda</th>
                    <th>Beca</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EstudianteViewModel e in Model)
                {
                    <tr>
                        <td>@e.NombreCompleto</td>
                        <td>@e.Matricula</td>
                        <td>@e.Carrera</td>
                        <td>@e.Campus</td>
                        <td>@e.Tanda</td>
                        <td>
                            @(e.EstaBecado ? $"{e.PorcentajeBeca}%" : "No")
                        </td>
                        <td>
                           <a asp-action="Editar" asp-route-codigo="@e.Matricula" class="btn btn-warning btn-sm">Editar</a>
                           <form asp-action="Editar" method="post" class="d-inline">
                              <input type="hidden" name="matricula" value="@e.Matricula" />
                              <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                           </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>